body {
    width: 1440px;
    margin: 0 auto;
}

:root {
    --black-color: black;
    --dark-blue: #0b2330;
    --white-color: white;
    --gray-blue: #375361;
    --gray-light: #C3CACD;
    --yellow-color: #F9C600;
    --blue-color: #51cdbb;
    --violet-color: #bc78ef;
    --pink-color: #f1ece6;
    --purpure-color: #C9316F;
    --white-dark: #F2EDE7;
    --silver-color: #94A0A4;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    Width: 1440px;

}

.header_menu {
    width: 560px;
    display: flex;
    align-items: center;
    gap: 56px;
}

.header_info {
    width: 342px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu_item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.menu_item > a {
    text-decoration: none;
    color: var(--black-color);
}

.header_menu img {
    left: 8px;
    bottom: -1px;
    position: relative;
}

.button {
    width: 163px;
    height: 54px;
    cursor: pointer;
    border: 1px solid var(--dark-blue);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color)
}

.dark {
    background: var(--dark-blue);
}

.yellow {
    background: var(--yellow-color);
    color: var(--dark-blue);
}

.flex {
    display: flex;
}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: var(--dark-blue);
    margin: 0 0 32px 0;

    letter-spacing: 0.6px;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    color: var(--dark-blue);
    letter-spacing: 0.42px;
    margin: 0;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: var(--dark-blue);
    letter-spacing: 0.34px;
}

h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-blue);
}

.main_content {
    display: flex;
    gap: 245px;
    margin: 0 auto;
}

.main_text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: var(--gray-blue);
    margin: 0 0 38px 0;
}

.main_button {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.button_w156 {

    border: 1px solid var(--dark-blue);
    box-sizing: border-box;
    border-radius: 4px;
    width: 156px;
    height: 54px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.main_content_text {
    width: 436px;
    margin: 154px 147px;
}

.main_content_img_2 {
    position: relative;
    right: 970px;
    top: 172px;
}

.h2_text {
    width: 547px;
    height: 96px;
    text-align: center;
    margin: 189px auto 59px auto;
}

.companies_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue_blok {
    width: 1376px;
    height: 494px;
    border-radius: 10px;
    background: var(--blue-color);
    margin: 192px auto 0 auto;
}

.blue_blok_text {
    margin: 114px 121px 161px 20px;
}

.blue_blok_text > div {
    margin: 35px 0 0 0;
    color: var(--dark-blue);
}

.blue_blok_text > h3 {
    margin: 0;
}

.blok_start_free {
    margin: 191px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blok_start_free > h3 {
    width: 711px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 57px;
}

.blok_start_free > button {
    margin-top: 113px;
    margin-bottom: 160px;
}

.violet_blok {
    width: 1260px;
    height: 537px;
    border-radius: 10px;
    margin: 0 32px 136px 148px;
    background: var(--violet-color);
}

.violet_blok > img {
    position: relative;
    right: 115px;
}

.violet_blok h2 {
    margin: 103px 183px 39px 75px;
}

.mini_text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--dark-blue);
    margin: 0 122px 147px 75px;
}

.customer_informed {
    margin: 0 0 0 148px;
}

.customer_informed >img {
    margin-bottom: 13px;
}

.customer_informed >h2 {
    margin-right: 699px;
    margin-bottom: 26px;
}

.customer_informed  >.main_text {
    margin: 0;
    color: var(--gray-blue);
}

.body_content {
    margin-top: 173px;
}

.body_content_blok {
    margin: 0 32px 32px 148px;
}

.right_blok > h3 {
    margin: 23px 0 29px 0;
}

.right_blok > .mini_text {
    width: 457px;
    color: var(--gray-blue);
    margin: 0;
}

.button_body {
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    width: 144px;
    height: 54px;
    background: var(--white-color);
    cursor: pointer;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    margin-top: 64px;
}

.body_content_blok {
    margin-top: 145px;
}

.body_content_blok > img {
    margin: 0 32px 0 263px;
}

.pink_blok {
    Width: 1440px;
    Height: 960px;
    margin-top: 130px;
    background: var(--pink-color);
}

.concept_menu {
    position: relative;
    top: -42px;
    left: 147px;
}

.pink_blok_head {
    margin-left: 122px;
    margin-right: 300px;
}

.pink_blok_head > h1 {
    margin-bottom: 0;
}

.pink_blok_head > img {
    margin-top: 96px;
}

.pink_blok_content > img {
    margin: 122px 141px 96px 122px;
}

.pink_blok_content_txt {
    width: 588px;
    height: 484px;
    border-top: 3px solid var(--purpure-color);
    margin-top: 120px;
}

.pink_blok_content_txt h4 {
    margin-top: 26px;
    margin-bottom: 25px;
}

.pink_blok_content_txt > .mini_text {
    margin: 36px 0;
    width: 500px;
    color: var(--gray-blue);
}

.js_ar {
    justify-content: space-between;
    align-items: center;
}

.pink_blok_txt {
    gap: 8px;
}

.pink_blok_txt > div {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--dark-blue);
}

.analysis {
    Width: 588px;
    Height: 82px;
    margin-top: 20px;
    border-top: 3px solid var(--gray-light);
    border-bottom: 3px solid var(--gray-light);
}

.templates {
    Width: 588px;
    Height: 82px;
    border-bottom: 3px solid var(--gray-light);
    margin-bottom: 25px;
}

.analysis > h4 {
    margin: 25px 0 23px 0;
}

.analysis > img {
    Width: 24px;
    Height: 24px;
}

.integrations {
    Width: 1440px;
    Height: 418px;
    margin-top: 160px;
    margin-bottom: 210px;
}

.integrations_blok_right {
    margin-left: 148px;
}

.integrations_blok_right > h3 {
    margin-top: 15px;
    margin-bottom: 36px;
    width: 640px;
    color: var(--dark-blue);
}

.integrations_blok_right > .main_text {
    color: var(--gray-blue);
}

.integrations_button {
    background: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 208px;
    height: 54px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.integrations > img {
    margin-left: 202px;
    position: relative;
    bottom: 40px;
}

.gray_yellow_blok {
    width: 1376px;
    height: 584px;
    margin: 0 auto;
    background: var(--white-dark);
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 46px;
}

.gray_blok {
    margin: 80px 141px 198px 117px;
}

.gray_blok > h4 {
    margin: 17px 0 27px 0;
    width: 330px;
}

.gray_blok > .main_text {
    margin-bottom: 36px;
    width: 330px;
}

.gray_button {
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    width: 140px;
    height: 54px;
    background: var(--white-dark);
    cursor: pointer;
}

.yellow_blok {
    width: 794px;
    height: 584px;
    background: var(--yellow-color);
    border-radius: 0px 10px 10px 0px;
}

.yellow_content_blok {
    margin: 79px 121px 118px 136px;
}

.yellow_content_blok > h3 {
    margin: 0 0 81px 0;
}

.user_text {
    margin-left: 24px;
}

.user_name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-blue);
}

.footer_head {
    width: 1440px;
    height: 423px;
    background: var(--dark-blue);
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--gray-blue);
}

.footer_head > h2 {
    margin: 0;
    color: var(--white-color)
}

.footer_head > .main_text {
    color: var(--white-color);
    width: 700px;
    margin: 31px 0 36px 0;
    text-align: center;
}

.footer_body {
    width: 1440px;
    height: 648px;
    background: var(--dark-blue);

}

.footer_content {
    padding-top: 80px;
    padding-left: 32px;
    align-items: flex-start;
}

.txt_gold {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--yellow-color);
}

.product {
    margin-left: 110px;
}

.product > .user_name {
    color: var(--silver-color);
    width: 162px;
}

.product > div {
    margin-top: 14px;
}

.img_footer > img {
    margin-top: 69px;
    margin-left: 265px;
}

.img_footer > div {
    margin-left: 589px;
    margin-top: 69px;
}

.footer_logo {
    display: flex;
    gap: 24px;
}

